* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --background-blue: #409eff;
  --background-black: #23292e;
  --moz-backface-visibility: #f2f2f2;
}
#box {
  width: 100vw;
  height: 100vh;
  background-color: var(--moz-backface-visibility);
  display: flex;
  align-items: center;
  align-content: space-around;
}

.header {
  background: var(--background-blue);
  width: 100%;
  height: 200px;
}
.header img {
  width: 100%;
  height: 100%;
}
.login-admin {
  width: 30vw;
  height: 55vh;
  background-color: var(--moz-backface-visibility);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 2px 12px 12px 2px rgba(0, 0, 0, 0.1);
  border-top: 20px solid var(--background-blue);
  border-radius: 15px;
}
@font-face {
  font-family: "iconfont"; /* Project id 4257383 */
  src: url("//at.alicdn.com/t/c/font_4257383_xbll0u307wr.woff2?t=1695033861449")
      format("woff2"),
    url("//at.alicdn.com/t/c/font_4257383_xbll0u307wr.woff?t=1695033861449")
      format("woff"),
    url("//at.alicdn.com/t/c/font_4257383_xbll0u307wr.ttf?t=1695033861449")
      format("truetype");
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shangcheng:before {
  color: #409eff;
  font-size: 61px;
  content: "\e6b3";
}

.icon-shangcheng-copy:before {
  content: "\e6b4";
}
.login-admin .iconfont {
  display: block;
  text-align: center;
  margin-top: 4vh;
}
.login-admin h2 {
  text-align: center;
  color: var(--background-blue);
  margin-top: 15px;
}
.layui-input {
  text-align: center;

  //   margin: auto;
}
.layui-input-wrap {
  margin: auto !important;
}
.layui-form {
  width: 300px;
  height: 300px;
  margin: auto;
  margin-top: 15px;
}
